<h1 style="text-align: center;">Lịch Sử Tiêu Thụ Gói Nhu Yếu Phẩm</h1>
<tbody>
    <div class="row row-cols-1 row-cols-md-1 g-3">
        <div class="col">
            <div class="card h-100 shadow-sm p-3 bg-white rounded">
                <div class="card-body">
                    <h2 class="card-title font-weight-bold" style="text-align: center;">{{patient.PatientName}}</h2>
                                       
                    <p class="card-text"><strong>Năm-Tháng-Ngày Sinh</strong>: {{patient.DOB}}</p>
                    <p class="card-text"><strong>Địa Chỉ</strong>: {{patient.ward}}, {{patient.District}},{{patient.province}}</p>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="py-3">
      <table class="table" style="text-align:center">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên gói</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Ngày mua</th>

          </tr>
        </thead>
        <tbody>
            {{#each kitHistory}}
          <tr>
            <td>{{@index}}</td>
            <td>{{this.package_Name}}</td>
            <td>{{this.TotalPrice}}</td>
            <td>{{this.oderDate}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
</tbody>