<h1 style="text-align: center;">Lịch Sử Được Quản Lý</h1>
<tbody>
    <div class="row row-cols-1 row-cols-md-1 g-3">
        <div class="col">
            <div class="card h-100 shadow-sm p-3 bg-white rounded">
                <div class="card-body">
                    <h2 class="card-title font-weight-bold" style="text-align: center;">{{patient.PatientName}}</h2>
                                       
                    <p class="card-text"><strong>Năm Sinh</strong>: {{patient.DOB}}</p>
                    <p class="card-text"><strong>Địa Chỉ</strong>: {{patient.ward}}, {{patient.District}},{{patient.province}}</p>
                    <p class="card-text"><strong>Tình trạng hiện tại</strong>: {{patient.Status}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="py-3">
      <table class="table" style="text-align:center">
        <thead class="thead-light">
          <tr>
            <th scope="col">Trạng thái</th>
            <th scope="col">Nơi điều trị</th>
            <th scope="col">Từ ngày</th>
            <th scope="col">Tới ngày</th>

          </tr>
        </thead>
        <tbody>
            {{#each patientManagement}}
          <tr>
            <td>{{this.status}}</td>
            <td>{{this.hopitalID}}</td>
            <td>{{this.fromDate}}</td>
            <td>{{this.endDate}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
</tbody>