<style>
#submitButton{
  margin-top: 32px;
}
</style>
<div class="row">
  <div class="col-md-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Họ Tên</th>
          <th scope="col">Trạng Thái</th>
          <th scope="col">PatientID</th>
        </tr>
      </thead>
      <tbody>
        {{#each userInfo}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{this.PatientName}}</td>
          <td>{{this.Status}}</td>
          <td>{{this.PatientID}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <form method="post" action="">
      <label for="">Đổi Trạng Thái</label>
      <select name="status" id="status">
        <option selected value="F0">F0</option>
        <option value="F1">F1</option>
        <option value="F2">F2</option>
        <option value="F3">F3</option>
        <option value="F4">F4</option>
      </select>
      
      <button type="submit" class="btn btn-success">Cập Nhật</button>
    </form>
  </div>
  <div class="col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Họ Tên Người Liên Quan</th>
          <th scope="col">Trạng Thái</th>
          <th scope="col">PatientID</th>
        </tr>
      </thead>
      <tbody>
        {{#each userRef}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{this.PatientName}}</td>
          <td>{{this.Status}}</td>
          <td>{{this.PatientID}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  
</div>
