<h2>Quản lý thanh toán</h2>
<p style="font-weight: 600;">1) Hạn mức thanh toán tối thiểu</p>
<span>Tối thiểu: {{limit}}   </span> <a href="/manager/payment/change" class="badge badge-warning">Thay đổi</a>
<p style="font-weight: 600;">2) Danh sách dư nợ</p>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th style="text-align:center" scope="col">Tài khoản</th>
      <th scope="col">Số tài khoản</th>
      <th scope="col">Số nợ</th>
      <th style="text-align:center" scope="col">Thông báo</th>

    </tr>
  </thead>
  <tbody>
    {{#each listUser}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td style="text-align:center">{{this.userName}}</td>
      <td>{{this.accountNumber}}</td>
      <td>{{currency this.accountBalance}}</td>
      <td style="text-align:center">
          {{#unless this.status}}
          <a href="/manager/notification/{{this.userName}}" class="badge badge-danger">Thông báo</a>
          {{/unless}}
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>