<style>
</style>
<br>
<div class="row">
<div class="col-md">
  <form method = "post" action="">
    {{!-- /manager/findPatient --}}
    <div class="input-group">
      <div class="form-outline">
        <input id="search-input" type="text" name="patientName" id="form1" class="form-control" />
      </div>
      <button id="search-button" type="submit" class="btn btn-success">Search</button>
    </div>
  </form>
</div>
<div class="col-md-6">
  <a href="/manager/addPatient" class="btn btn-primary btn-xs pull-right"><b>+</b> Thêm mới Bệnh Nhân</a>
</div>
</div>
<br>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <a href="/manager/sortByYOB" class="btn btn-info btn-xs pull-left"><b></b> Sắp xếp theo Năm Sinh</a>
  </div>
  <div class="col-md-3">
    <a href="/manager/sortByStatus" class="btn btn-warning btn-xs pull-left"><b></b> Sắp xếp theo Trạng Thái</a>
  </div>
</div>
<hr>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th style="text-align:center" scope="col">Họ tên</th>
      <th scope="col">CMND/CC</th>
      <th scope="col">Năm sinh</th>
      <th style="text-align:center" scope="col">Địa chỉ</th>
      <th scope="col">Trạng thái</th>
      <th scope="col">Nơi điều trị</th>
      <th scope="col">Người liên quan</th>
      <th scope="col">Lịch sử</th>

    </tr>
  </thead>
  <tbody>
    {{#each patient}}
    <tr>
      <th scope="row">{{this.PatientID}}</th>
      <td>{{this.PatientName}}</td>
      <td>{{this.identityCard}}</td>
      <td>{{this.DOB}}</td>
      <td>{{this.ward}}, {{this.District}}, {{this.province}}</td>
      <td style="text-align:center">{{this.Status}}</td>
      <td style="text-align:center">{{this.hospitalID}}</td>
      <td style="text-align:center">{{this.patient_ref}}</td>
      <td><a href="/manager/viewDetailPatient/{{this.userID}}" type="button" class="btn btn-outline-info">Chi tiết</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script>

</script>